<%- include('include/header_dstudio') %>  
      <br><br>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <span class="anchor" id="formLogin"></span> 
                      
          <div class="card card-outline-secondary border-dark">
            <div class="card-header bg-secondary text-success">
              <h3 class="mb-0 text-light">Create Post</h3>
            </div>
            <div class="card-body">
                <form autocomplete="off" class="form" id="formLogin" name="formLogin" role="form" form action="/submit" method="POST" >
                <div class="form-group">
                  <label for="uname1">Title</label> 
                      <input class="form-control"   required="" type="text" id="inputTitle">
                </div>
                <div class="form-group">
                  <label for="uname1">Tags</label> 
                  
                  <div id="tag" class="mb-2"></div>
                  <div class="input-group mb-3  w-50">
                    <input type="text" class="form-control" placeholder="Enter you're Tag" aria-label="Recipient's username" aria-describedby="button-addon2" name="tag" id="input-tag">
                    <button class="btn btn-warning" type="button" id="addTag"  >Add Tag</button>
                  </div>
                </div>
                
                <div class="form-group">
                    <label for="description">Enter your Text</label>
                    <textarea class="form-control"  rows="3"   class="inputText" id="inputText"></textarea>
                  </div>
                
                  <button class="btn btn-success btn-lg float-right" type="button" id="createPost">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div> 
      <!-- <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script> -->
   <!-- Script element sourcing the TinyMCE configuration -->
   <!-- <script type="application/javascript" src= "/javascripts/my-tinymce-config.js"></script> -->
<%- include('include/footer') %>      